<div id="container" *ngIf="video" [ngClass]="{'wide-video-container':isVideoWide}">
  <bs-video-player id="video-player" (toggleWideScreen)="isVideoWide = !isVideoWide" [video]="video"></bs-video-player>
  <div id="video-info">
    <bs-watch-primary-info [video]="video"></bs-watch-primary-info>
    <bs-watch-secondary-info [video]="video"></bs-watch-secondary-info>
  </div>
  <div id="other-videos-container">
    <bs-video-list mode="vertical" [videos]="recommendedVideos | async"></bs-video-list>
  </div>
  <bs-comments [videoId]="video.id"></bs-comments>
</div>