<div class="progress-bar">
  <div class="progress-text" fxLayout="row">
    <div [ngSwitch]="progress.status">
      <span *ngSwitchCase="'DONE'">
        Done
      </span>
      <span *ngSwitchCase="'FAILED'">
        Failed
      </span>
      <span *ngSwitchDefault>
        Uploading
      </span>
    </div>
    <div fxLayout="row" fxFlex *ngIf="progress.status === 'UPLOADING'">
      <span>{{progress.percent}}%</span>
      <span fxFlex></span>
      <span>About {{progress.eta}} seconds left</span>
    </div>
  </div>
  <div class="progress" [style.width]="progress.percent+'%'"></div>
</div>