<div id="video-tile" [ngClass]="{'horizontal':horizontal}">
  <div [fxLayout]="horizontal ? 'row' : 'column'" fxLayoutGap="10px">
    <a [routerLink]="['/watch',video.id]">
      <img [src]="image" (mouseenter)='mouseEnter()' (mouseleave)='mouseLeave()' [ngClass]="{'img-horizontal':horizontal, 'img-horizontal-with-description':horizontal && description}">
    </a>
    <div id="video-details" [ngClass]="{'horizontal':horizontal}">
      <a id="video-title" [routerLink]="['/watch', video.id]" ellipsis>{{video.title}}</a>
      <div [fxLayout]="description ? 'row wrap' : 'column'">
          <a id="video-owner" [routerLink]="['/watch', video.id]">{{video.owner.firstName || video.owner}}</a>
          <div id="seperator" *ngIf="description"><span></span></div>
          <div id="video-statistics">
            <span translate [translateParams]="{views: video.views}">SHARED.VIDEO_TILE.VIEWS</span>
            <span>{{video.publishDate | date: 'dd MMM'}}</span>
          </div>
      </div>
      <div id="video-description" *ngIf="description" ellipsis>{{video.description}}</div>
    </div>
  </div>
</div>