<div id="video-tile">
  <div [fxLayout]="horizontal ? 'row' : 'column'" fxLayoutGap="10px">
    <a [routerLink]="['/watch',video.id]">
      <img [src]="video.thumbnailUrl" [ngClass]="{'img-horizontal':horizontal}">
    </a>
    <div id="video-details" fxLayout="column">
      <a id="video-title" [routerLink]="['/watch', video.id]">{{video.title}}</a>
      <a id="video-owner" [routerLink]="['/upload']">{{video.owner}}</a>
      <div id="video-statistics">
        <span>{{video.views}} views</span>
        <span>{{video.publishDate | date: 'dd MMM'}}</span>
      </div>
    </div>
  </div>
</div>