$vertical-video-width: 210px;
$vertical-video-height: 118px;
$horizontal-video-width: 168px;
$horizontal-video-height: 94px;
$horizontal-with-description-video-width: 246px;
$horizontal-with-description-video-height: 138px;

a {
    text-decoration: none;
    display: block;
}

#video-tile {
    text-align: start;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    &.horizontal {
        margin-bottom: 15px;
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
    img {
        width: $vertical-video-width;
        height: $vertical-video-height;
    }
    .img-horizontal {
        width: $horizontal-video-width;
        height: $horizontal-video-height; 
    }
    .img-horizontal-with-description {
        width: $horizontal-with-description-video-width;
        height: $horizontal-with-description-video-height;
    }
    #video-details {
        width: $vertical-video-width;
        &.horizontal {
            width: auto;
            box-sizing: border-box;
            min-width: 0;
        }
        #video-title {
            display: block;
            min-width: 0;
            padding-bottom: 8px;
            font-weight: 500;
            max-height: 3.2rem;
            line-height: 1.6rem;
            white-space: normal;
            color: #000;
        }
        #video-channel,
        #video-statistics,
        #seperator {
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 1.2rem;
            color: #a0a0a0;
        }
        #video-statistics {
            span:not(:last-of-type)::after {
                content: '•';
                margin: 0 4px;
            }
        }
        #seperator {
            span::after {
                content: '•';
                margin: 0 4px;
            }
        }
        #video-description {
            color: hsl(0, 0%, 53.3%);
            padding-top: 8px;
            margin-bottom: 8px;
            display: block;
            line-height: 1.4rem;
            max-height: 3.6rem;
            font-weight: 400;
            font-size: 13px;
        }

    }
}