$vertical-video-width: 210px;
$vertical-video-height: 118px;
$horizontal-video-width: 168px;
$horizontal-video-height: 94px;
a {
    text-decoration: none;
    display: block;
}

#video-tile {
    text-align: start;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    img {
        width: $vertical-video-width;
        height: $vertical-video-height;
    }
    .img-horizontal {
        width: $horizontal-video-width;
        height: $horizontal-video-height; 
    }
    #video-details {
        width: $vertical-video-width;
        &.horizontal {
            width: 300px-$horizontal-video-width;
        }
        #video-title {
            padding-bottom: 8px;
            font-weight: 500;
            max-height: 3.2rem;
            line-height: 1.4rem;
            white-space: normal;
            color: #000;
        }
        #video-owner,
        #video-statistics {
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 1.2rem;
            color: #a0a0a0;
        }
        #video-statistics {
            span:not(:last-of-type)::after {
                content: '•';
                margin: 0 4px;
            }
        }
    }
}