input {
    font-size: 0.8rem;
}

mat-card-actions {
    margin-bottom: 0px;
}

mat-card {
    padding-bottom: 0px;
    margin: 0 30px;
}

.classification {
    max-width: 250px;
    box-sizing: border-box;
    width:100%;
}
