<mat-card fxLayout="column">
  <bs-video-upload-progress [uploadFile]="file"></bs-video-upload-progress>
  <form fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput [value]="file.file.name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea rows="4" matInput></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tags</mat-label>
      <input matInput />
    </mat-form-field>
  </form>
  <mat-card-actions align="end">
    <button mat-button color="primary">Publish</button>
  </mat-card-actions>
</mat-card>