input {
    font-size: 0.8rem;
}

p {
    margin-top: 0;
}

.classification, #visibility {
    max-width: 250px;
    box-sizing: border-box;
    width:100%;
}

.submitAndMidur {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
}

#midurWarn {
    color: red;
    font-size: 15px;
    margin-right: 2px;
}