#search-container {
    display: flex;
    #search-bar {
        height: 30px;
        flex: 1 1 auto;
        border-style: ridge;
        border-radius: 4px;
        padding: 16px 8px;
        font-family: 'Roboto', 'Noto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    
    #submit-button{
    }


}