<div id="file-picker" bsFileDrop (filesSelected)="onFilesSelected($event)">
  <input #fileInput multiple type="file" accept="video/*" class="file-upload" (change)="onFilesSelected(fileInput.files)" />
  <div class="upload-container" (click)="openFileBrowser()">
    <div class="upload-icon-container mat-elevation-z4">
      <mat-icon>file_upload </mat-icon>
    </div>
    <h3 id="title" translate>UPLOADER.FILE_UPLOADER.TITLE</h3>
    <span id="description" translate>UPLOADER.FILE_UPLOADER.DESCRIPTION</span>
  </div>
</div>