@import '~@angular/material/theming';
@import 'src/theme.scss';
#file-picker {
    display: flex;
    height: 99%;
    input[type=file] {
        display: none;
    }
    .upload-container {
        display: inline-block;
        text-align: center;
        margin: auto;
        padding: 20px;
    }
    .upload-icon-container {
        width: 150px;
        height: 150px;
        display: flex;
        border-radius: 75px;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.25);
        margin: auto;
        mat-icon {
            color: #fff;
            width: 8rem;
            height: 8rem;
            font-size: 8rem;
        }
    }
    &.highlight {
        border-radius: 4px;
        border: 1px dashed mat-color($app-primary);
        .upload-icon-container {
            background-color: mat-color($app-primary);
        }
    }
    #title {
        font-size: 1.3rem;
        font-weight: 400;
    }
    #description {
        font-size: 0.9rem;
    }
}