#add-new-container {
    p {
        display: inline;
    }
}
.user-permissions {
    background-color: white;
    box-shadow: 1px 1px rgba(50, 50, 50, 0.2);
    border-radius: 8px;
    margin: 10px 0px;
    display: flex;
    .flex-item {
        flex: auto;
    }
}
#create-form {
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 0px;
    background-color: white;
    box-shadow: 1px 1px rgba(50, 50, 50, 0.2);
    border-radius: 8px;
}