#container {
    display: flex;
    flex-direction: row;

    #creator-profile-image {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        padding: 10px;
    }

    #upload-info {
        margin: 0 4px;
        margin-top: 16px;

        #channel-link {
            text-decoration: none;
            font-size: 0.9rem;
            font-weight: 500;
            color: black;
            line-height: 1.4rem;
            display: block;
        }
        
        #publish-date {
            font-size: 0.8rem;
            color: rgba(128, 128, 128, 0.8);
        }
    }
   
}

