#container {
    width: 150px;
    height: 150px;
    margin: 20px 30px;
    border-radius: 5px;
    #image {
        height: 100px;
        width: 100px;
        border-radius: 100px;
        margin: auto;
        transition: 500ms;
        cursor: pointer;
        &:hover {
            transform: scale(1.05);
        }
    }
    #channel-name {
        margin: 4px 0px;
        text-align: center;
        font-size: 1.1rem;
        font-weight: 400;
        word-break: break-word;
    }
    #channel-views {
        margin: 4px 0px;
        text-align: center;
        color: gray;
    }
}