<div id="video-upload-progress" fxLayout="row" fxLayout.lt-md="column-reverse" fxLayoutAlign="center center" fxLayoutGap="8px">
  <video #videoPlayer width="180" height="100" autoplay loop>
    <source [src]="videoUrl">
  </video>
  <div fxLayout="column" fxFlex id="upload-details">
    <div fxLayout="row">
      <h3 id="file-name">{{uploadFile.file.name}}</h3>
      <span fxFlex></span>
      <span id="file-size">{{uploadFile.file.size / 1024 / 1024 | number: '.2'}} MB</span>
    </div>
    <span [ngSwitch]="uploadFile.status">
      <p *ngSwitchCase="uploadStatus.Error">
        Error
      </p>
      <p *ngSwitchCase="uploadStatus.Success">
        Click "Publish" to make your video live.
      </p>
      <p *ngSwitchCase="uploadStatus.Progress">
        Your video is still uploading. Please keep this page open until it's done.
      </p>
      <p *ngSwitchCase="uploadStatus.Pending">
        Pending
      </p>
      <p *ngSwitchDefault>
        Unknown
      </p>
    </span>
    <bs-upload-progress-bar [file]="uploadFile"></bs-upload-progress-bar>
  </div>

</div>