<div id="video-upload-progress" fxLayout="row" fxLayout.lt-md="column-reverse" fxLayoutAlign="center center"
  fxLayoutGap="8px">
  <video #videoPlayer width="180" height="100" autoplay loop>
    <source [src]="videoUrl">
  </video>
  <div fxLayout="column" fxFlex id="upload-details">
    <div fxLayout="row">
      <h3 id="file-name">{{videoUpload.fileUpload.file.name}}</h3>
      <span fxFlex></span>
      <span id="file-size" translate [translateParams]="{size: ((videoUpload.fileUpload.file.size / 1024 / 1024) | number: '.2')}">
        UPLOADER.UPLOAD_PROGRESS.FILE_SIZE
      </span>
    </div>
    <span [ngSwitch]="videoUpload.fileUpload.status" *ngIf="!videoUpload.published; else publishedText">
      <p *ngSwitchCase="uploadStatus.Error" translate>
        UPLOADER.UPLOAD_PROGRESS.ERROR
      </p>
      <p *ngSwitchCase="uploadStatus.Success" translate>
        UPLOADER.UPLOAD_PROGRESS.SUCCESS 
      </p>
      <p *ngSwitchCase="uploadStatus.Progress" translate>
        UPLOADER.UPLOAD_PROGRESS.PROGRESS
      </p>
      <p *ngSwitchCase="uploadStatus.Pending" translate>
        UPLOADER.UPLOAD_PROGRESS.PENDING
      </p>
      <p *ngSwitchDefault translate>
        UPLOADER.UPLOAD_PROGRESS.UNKNOWN
      </p>
    </span>
    <ng-template #publishedText>
      <span>
        <div id="published-text-container">
          <p>{{'UPLOADER.UPLOAD_PROGRESS.PUBLISHED' | translate}}:</p>
          <p id="video-link" (click)="onLinkPress()">{{'UPLOADER.UPLOAD_PROGRESS.LINK' | translate}}</p>
        </div>
      </span>
    </ng-template>
    <bs-upload-progress-bar (uploadCancelled)="cancelUpload()" fxFlex [file]="this.videoUpload.fileUpload"></bs-upload-progress-bar>
  </div>

</div>