<div id="video-edit">
  <mat-card fxLayout="column" *ngIf="video">
    <bs-video-edit-header [video]="video"></bs-video-edit-header>
    <form fxLayout="column" [formGroup]="videoForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label translate>UPLOADER.UPLOAD_FORM.TITLE</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label translate>UPLOADER.UPLOAD_FORM.DESCRIPTION</mat-label>
        <textarea rows="4" matInput id="description" formControlName="description"></textarea>
      </mat-form-field>
    
      <mat-form-field appearance="outline" >
        <mat-chip-list #tagList>
          <mat-chip *ngFor="let tag of videoForm.get('tags').controls; let index = index;" [selectable]="true"
                   [removable]="true" (removed)="removeTag(index)">
            {{tag.value}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input FormArrayName="tags"
                 placeholder="{{'UPLOADER.UPLOAD_FORM.TAGS' | translate}}"
                 [matChipInputFor]="tagList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="true"
                 (matChipInputTokenEnd)="addTag($event)">
        </mat-chip-list>
      </mat-form-field>
    
      <mat-card-actions align="end">
        <button type="button" [disabled]="!videoForm.valid" (click)="publishVideo()" *ngIf="!video.published" mat-button color="primary">{{'UPLOADER.UPLOAD_FORM.PUBLISH' | translate}}</button>
        <button type="submit" [disabled]="!videoForm.valid" mat-button color="primary">{{'UPLOADER.UPLOAD_FORM.SAVE' | translate}}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>