<div id="container" *ngIf="channel">
    <div id="header-image" [style.background-image]="headerImage"></div>
    <bs-channel-header [channel]="channel"></bs-channel-header>
    <mat-tab-group [selectedIndex]="selectedTabIndex">
        <mat-tab *ngIf="!channel.isProfile;else profileVideos" label="{{'CHANNEL.VIDEOS.TAB_LABEL' | translate}}">
            <bs-channel-videos [videoFilter]="{channel: channel.id}"></bs-channel-videos>
        </mat-tab>
        <ng-template #profileVideos>
            <mat-tab label="{{'CHANNEL.VIDEOS.TAB_LABEL_PROFILE' | translate}}">
                <bs-channel-videos [videoFilter]="{channel: channel.id}"></bs-channel-videos>
            </mat-tab>
        </ng-template>
        <mat-tab *ngIf="channel.isProfile" label="{{'CHANNEL.USER_VIDEOS.TAB_LABEL' | translate}}">
            <bs-channel-videos [videoFilter]="{owner: channel.user}"></bs-channel-videos>
        </mat-tab>
        <mat-tab label="{{'CHANNEL.ABOUT.TAB_LABEL' | translate}}">
            <div id="about-container">
                <bs-channel-about [channel]="channel"></bs-channel-about>
            </div>
        </mat-tab>
        <mat-tab *ngIf="isUserOwner && !channel.isProfile" label="{{'CHANNEL.MANAGE.TAB_LABEL' | translate}}">
            <div id="manage-container">
                <bs-channel-manage [channel]="channel"></bs-channel-manage>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>