#header-image {
    height: calc((100vw - 240px) / 6.2 - 1px);
    background-attachment: fixed;
    min-height: 100px;
}
#about-container {
    margin: 0px 15px;
}
#manage-container {
    padding: 25px;
    padding-top: 11px;
}