<div id="add-comment-container">
  <bs-avatar id="user-profile-image" source="assets/user-profile-placeholder.png"></bs-avatar>
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <mat-form-field id="comment-input">
      <input (blur)="onBlur()" (focus)="onFocus()" matInput formControlName="text" placeholder="Add a public comment...">
    </mat-form-field>
    <div *ngIf="showButtons" id="buttons-container">
      <button *ngIf="!parent; else replyButton" id="submit-button" type="submit" [disabled]="!commentForm.valid || commentForm.get('text').value === ''" mat-raised-button color="primary">{{'COMMENTS.COMMENTS_FORM.POST' | translate}}</button>
      <ng-template #replyButton>
        <button color="primary" id="submit-button" type="submit" [disabled]="!commentForm.valid || commentForm.get('text').value === ''" mat-raised-button>{{'COMMENTS.COMMENTS_FORM.REPLY' | translate}}</button>
      </ng-template>
      <button id="cancel-button" (click)="showButtons = false" mat-button >{{'COMMENTS.COMMENTS_FORM.CANCEL' | translate}}</button>
    </div>
  </form>
</div>