#add-comment-container {
    display: flex;
    margin-bottom: 20px;
    
    #user-profile-image {
        padding: 10px;
        padding-bottom: 0px;
    }

    form {
        margin-top: 10px;
        flex: 1 0 0;
        display: flex;

        #comment-input {
            flex: 6 0 0;
        }
        #submit-button {
            flex: 1 0 0;
        }

    }
}