<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="sideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">
      <strong>Blue</strong> Stream</h1>
    <span class="spacer"></span>
    <a mat-icon-button routerLink="/upload">
      <mat-icon>video_call</mat-icon>
    </a>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sideNav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
      [opened]="!mobileQuery.matches">
      <mat-nav-list>
        <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
        <mat-list-item>
          <mat-icon matListIcon>home</mat-icon>
          <a matLine routerLink=".">Home</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>whatshot</mat-icon>
          <a matLine routerLink=".">Popular</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>subscriptions</mat-icon>
          <a matLine routerLink=".">Subscriptions</a>
        </mat-list-item>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div style="width: 500px; margin: auto;">
        <bs-video-player></bs-video-player>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>