<div *ngIf="isBrowserSupported; else browser_not_supported" class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="sideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name" routerLink="/">
      <strong>Blue</strong> Stream</h1>
    <bs-search></bs-search>
    <bs-language-switcher></bs-language-switcher>
    <a mat-icon-button routerLink="/channels/create">
      <mat-icon>add_to_queue</mat-icon>
    </a>
    <a mat-icon-button routerLink="/channels/upload">
      <mat-icon>video_call</mat-icon>
    </a>
    <a mat-icon-button [routerLink]="['/channels/profile', userService.currentUser.id ]">
      <mat-icon>account_circle</mat-icon>
    </a>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sideNav [mode]="getSideNavMode()" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
      [opened]="isSideNavOpen">
      <mat-nav-list>
        <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
        <a routerLink="">
          <mat-list-item>
            <mat-icon matListIcon>home</mat-icon>
            <span matLine translate>DASHBOARD.HOME</span>
          </mat-list-item>
        </a>
        <a routerLink="/popular">
          <mat-list-item>
            <mat-icon matListIcon>whatshot</mat-icon>
            <span matLine translate>DASHBOARD.POPULAR</span>
          </mat-list-item>
        </a>
        <!-- 
        <a matLine routerLink="/subscriptions">
          <mat-list-item>
            <mat-icon matListIcon>subscriptions</mat-icon>
            <span matLine translate>DASHBOARD.SUBSCRIPTIONS</span>
          </mat-list-item>
        </a> 
        -->
        <a routerLink="/channels">
          <mat-list-item>
            <mat-icon matListIcon>video_library</mat-icon>
            <span matLine translate>DASHBOARD.ALL_CHANNELS</span>
          </mat-list-item>
        </a>
        <a routerLink="/channels/user">
          <mat-list-item>
            <mat-icon matListIcon>video_library</mat-icon>
            <span matLine translate>DASHBOARD.USER_CHANNELS</span>
          </mat-list-item>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content id="side-nav-container">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<ng-template #browser_not_supported>
  <h1 translate>APP.BROWSER_NOT_SUPPORTED</h1>
</ng-template>