<div>
  <div id="container">
    <div #videoList id="video-list">
      <button mat-mini-fab id="left-button" (click)="scrollLeft()" *ngIf="horizontal && startIndex > 0">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <div id="scroll-container" [class.vertical]="mode === 'vertical'" [style.white-space]="mode === 'horizontal' ? 'nowrap' : 'normal'"
        [style.transform]="'translateX(' + -startIndex * (videoConstants.videoTileWidth) + 'px)'">
        <bs-video-tile [video]="video" [horizontal]="mode === 'vertical'" *ngFor="let video of videos"></bs-video-tile>
      </div>
      <button mat-mini-fab id="right-button" (click)="scrollRight()" *ngIf="horizontal && endIndex  < videos.length">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</div>