<div id="container">
  <div id="info-container">
    <bs-avatar id="user-profile-image" source="assets/user-profile-placeholder.png"></bs-avatar>
    <div id="comment-info">
      <a id="user-link" href="">{{comment.user}}</a>
      <span id="date">{{comment.date | date}}</span>
      <p id="comment-text">{{comment.text}}</p>
    </div>
  </div>
  <bs-comment-action-buttons (deleteClicked)="onDelete()" [isReply]="isReply" (replyClicked)="showReplyForm = !showReplyForm"
    [comment]="comment"></bs-comment-action-buttons>
  <div id="reply-form-container" *ngIf="showReplyForm">
    <bs-comment-form (commentSubmitted)="onCommentSubmitted()" [parent]="comment.id"></bs-comment-form>
  </div>
  <div id="replies-container" *ngIf="comment.repliesAmount">
    <button mat-button [ngSwitch]="showReplies" (click)="onShowReplies()" id="replies-expander">
      <span *ngSwitchCase="true" translate>
        COMMENTS.COMMENT_LIST.COMMENT.HIDE_REPLIES
      </span>
      <mat-icon *ngSwitchCase="true">keyboard_arrow_up</mat-icon>
      <span *ngSwitchCase="false" translate [translateParams]="{replies: comment.repliesAmount}">
        COMMENTS.COMMENT_LIST.COMMENT.VIEW_REPLIES
      </span>
      <mat-icon *ngSwitchCase="false">keyboard_arrow_down</mat-icon>
    </button>
    <div id="replies" *ngIf="showReplies">
      <bs-comment-list [isReplyList]="true" [comments]="replies"></bs-comment-list>
    </div>
  </div>
</div>