<div id="container">
  <div id="info-container">
    <img id="user-profile-image" src="assets/user-profile-placeholder.png" alt="">
    <div id="comment-info">
      <a id="user-link" href="">{{comment.user}}</a>
      <span id="date">{{comment.date | date}}</span>
      <p id="comment-text">{{comment.text}}</p>
    </div>
  </div>
  <bs-comment-action-buttons [likes]="comment.likes" [dislikes]="comment.dislikes"></bs-comment-action-buttons>
  <div id="replies-container">
    <button mat-button [ngSwitch]="showReplies" (click)="showReplies = !showReplies" id="replies-expander" *ngIf="replies.length !== 0">
      <span *ngSwitchCase="true">
        Hide replies
      </span>
      <span *ngSwitchCase="false">
        View all {{replies.length}} replies
      </span>
    </button>
    <div id="replies" *ngIf="showReplies">
      <bs-comment-list [comments]="comment.replies"></bs-comment-list>
    </div>
  </div>
</div>