#container {
    display: flex;
    flex-direction: row;

    #creator-profile-image {
        padding: 10px;
    }

    #video-info {
        margin: 0 4px;
        margin-top: 16px;

        .channel-link {
            text-decoration: none;
            font-size: 0.9rem;
            font-weight: 500;
            color: black;
            line-height: 1.4rem;
            display: block;
        }

        #publish-date {
            font-size: 0.8rem;
            color: rgba(128, 128, 128, 0.8);
            #owner {
                font-weight: 600;
                color:inherit;
                text-decoration: none;
            }
        }
    }

}

