<form [formGroup]="userPermissionsForm" (ngSubmit)="onSubmit()">
  <div id="input-container">
    <mat-form-field appearance="outline" id="name-input" *ngIf="!isEditForm">
      <input placeholder="{{'CHANNEL.PERMISSIONS_FORM.NAME_INPUT' | translate}}" type="text" matInput formControlName="user" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of users" [value]="user.id">{{user.name}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div class="checkbox-list" formArrayName="permissions"
      *ngFor="let permission of userPermissionsForm.controls.permissions.controls; let i = index">
      <mat-checkbox class="checkbox" [formControlName]="i">{{permissionsTypesArray[i].name | translate}}</mat-checkbox>
    </div>
    <div id="buttons-container">
      <button mat-icon-button id="submit-button" type="submit" [disabled]="!userPermissionsForm.valid">
        <mat-icon>check</mat-icon>
      </button>
      <button id="cancel-button" mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>


</form>