<form [formGroup]="userPermissionsForm" (ngSubmit)="onSubmit()">
  <div id="input-container">
    <div formArrayName="permissions" *ngFor="let permission of userPermissionsForm.controls.permissions.controls; let i = index">
      <mat-checkbox [formControlName]="i">{{permissionsTypesArray[i].name | translate}}</mat-checkbox>
    </div>
    <mat-form-field appearance="outline" id="name-input">
      <input type="text" matInput formControlName="user" [matAutocomplete]="auto">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let user of users" [value]="user.id">{{user.name}}</mat-option>
    </mat-autocomplete>
  </div>

  <div id="buttons-container">
    <button id="submit-button" type="submit" [disabled]="!userPermissionsForm.valid" mat-raised-button color="primary">
      <span *ngIf="isEditForm;else createButtonTemplate">
        {{'CHANNEL.FORM.UPDATE'| translate}}
      </span>
      <ng-template #createButtonTemplate>
        {{'CHANNEL.FORM.CREATE'| translate}}
      </ng-template>
    </button>
    <button id="cancel-button" (click)="cancel()" mat-button>{{'CHANNEL.FORM.CANCEL' | translate}}</button>
  </div>
</form>