<div id="video-container" (mousemove)="mouseMove.next()">
  <span id="video-title" *ngIf="fullscreen && !hideActions">{{video.title}}</span>
  <video #videoPlayer autoplay [volume]="volume" (click)="toggleVideo()" (dblclick)="toggleFullscreen()" (timeupdate)="updateProgress()">
    <source [src]="video.sourceUrl | safeUrl">
  </video>
  <div id="gradient-bottom">
    <div id="video-actions" fxLayout="column" [class.hidden]="!videoPlayer.paused && hideActions">
      <bs-video-progress [value]="progress" (progressChanged)="progressChanged($event)"></bs-video-progress>
      <bs-video-actions [playing]="!videoPlayer.paused" [fullscreen]="fullscreen" [currentTime]="videoPlayer.currentTime" [duration]="videoPlayer.duration"
        [volume]="videoPlayer.volume" (volumeChange)="volumeChange($event)" (toggleFullscreen)="toggleFullscreen()" (toggleVideo)="toggleVideo()"></bs-video-actions>
    </div>
  </div>
</div>