#video-container {
    position: relative;
    margin: auto;
    background-color: #000;
    width: 100%;
    height: 100%;
    video {
        width: 100%;
        height: 100%;
    }
    #video-title {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 16px;
        color: #fff;
        font-size: 1.5rem;
    }
    #gradient-bottom {
        position: absolute;
        bottom: 1px;
        left: 0;
        right: 0;
        padding-top: 50px;
        z-index: 1;
        background: linear-gradient(transparent 10%, rgba(0, 0, 0, 0.7));
        #video-actions {
            justify-content: center;
            width: 100%;
            transition: all 250ms ease-in;
            visibility: visible;
            opacity: 1;
            &.hidden {
                opacity: 0;
                visibility: hidden;
                transform: translateY(60px);
            }
        }
    }
}