vg-player {
    direction: ltr !important;

    vg-controls, vg-scrub-bar {
        transition: bottom 0.3s ease-out;
    }

    vg-controls {
        z-index: 240;
        
        .time-seperator {
            color: white;
            font-size: 16px;
        }
    }
}