#video-container {
    position: relative;
    margin: auto;
    background-color: #000;
    width: 100%;
    height: 100%;
    video {
        width: 100%;
        height: 100%;
    }
    #gradient-bottom {
        position: absolute;
        bottom: 1px;
        left: 0;
        right: 0;
        padding-top: 50px;
        z-index: 1;
        background: linear-gradient(transparent 10%, rgba(0, 0, 0, 0.7));
        #video-actions {
            justify-content: center;
            width: 100%;
        }
    }
}

