<h3 id="title">
  {{video.title}}
  <mat-icon id="lock" [matTooltip]="'WATCH.WATCH_PRIMARY_INFO.PRIVATE_VIDEO' | translate" *ngIf="!video.published">lock
  </mat-icon>
</h3>
<div id="info-container">
  <p id="views" translate [translateParams]="{views: video.views}">
    WATCH.WATCH_PRIMARY_INFO.VIEWS
  </p>
  <span fxFlex></span>
  <div id="actions-container">
    <bs-reactions [resource]="video.id" [resourceType]="resourceType" [showAmounts]="true" [showBar]=true>
    </bs-reactions>
    <!-- <div class="action-button-container">
      <button [matTooltip]="'WATCH.WATCH_PRIMARY_INFO.SHARE' | translate" mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
      <span translate>WATCH.WATCH_PRIMARY_INFO.SHARE</span>
    </div>
    <div class="action-button-container">
      <button [matTooltip]="'WATCH.WATCH_PRIMARY_INFO.ADD_PLAYLIST' | translate" mat-icon-button>
        <mat-icon>playlist_add</mat-icon>
      </button>
    </div> -->
    <div class="action-button-container" *ngIf="canRemove || canEdit">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a *ngIf="canEdit" [routerLink]="['/edit',video.id]">
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span translate>WATCH.WATCH_PRIMARY_INFO.EDIT</span>
          </button>
        </a>
        <button *ngIf="canRemove" mat-menu-item (click)="onDeleteVideo()">
          <mat-icon>delete</mat-icon>
          <span translate>WATCH.WATCH_PRIMARY_INFO.DELETE.ACTION</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>