<h3 id="title">
  {{video.title}}
</h3>
<div id="info-container">
  <p id="views" translate [translateParams]="{views: video.views}">
    WATCH.WATCH_PRIMARY_INFO.VIEWS
  </p>
  <span fxFlex></span>
  <div id="actions-container">
    <div id='ratings-container'>
      <div class="rating">
        <button [ngClass]="{'reaction-chosen': isLike() }" (click)="likeVideo()" [matTooltip]="'WATCH.WATCH_PRIMARY_INFO.LIKE' | translate" mat-icon-button>
          <mat-icon>thumb_up</mat-icon>
        </button>
        <span class="rating-amount">{{video.likes}}</span>
      </div>
      <div class="rating">
        <button [ngClass]="{'reaction-chosen': isDislike() }" (click)="dislikeVideo()" [matTooltip]="'WATCH.WATCH_PRIMARY_INFO.DISLIKE' | translate" mat-icon-button>
          <mat-icon>thumb_down</mat-icon>
        </button>
        <span class="rating-amount">{{video.dislikes}}</span>
      </div>
      <mat-progress-bar mode="determinate" value={{getLikesToDislikesRatio()}}></mat-progress-bar>
    </div>
    <div class="action-button-container">
      <button [matTooltip]="'WATCH.WATCH_PRIMARY_INFO.SHARE' | translate" mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
      <span translate>WATCH.WATCH_PRIMARY_INFO.SHARE</span>
    </div>
    <div class="action-button-container">
      <button [matTooltip]="'WATCH.WATCH_PRIMARY_INFO.ADD_PLAYLIST' | translate" mat-icon-button>
        <mat-icon>playlist_add</mat-icon>
      </button>
    </div>
  </div>
</div>