#actions-container {
    display: flex;
    margin: 0 50px;
    #ratings-container {
        .rating {
            display: inline-block;
            margin: 0 8px;
            .rating-button {
                color: gray;
                &:hover {
                    color: rgb(78, 78, 78);
                }
                mat-icon {
                    font-size: 1.1rem;
                }
            }
            .rating-amount {
                font-size: 0.9rem;
            }
        }
        mat-progress-bar {
            height: 3px;
            margin: 0 5px;
        }
    }
    #reply {
        color: gray;
        &:hover {
            color: rgb(78, 78, 78);
        }
    }
}