#video-actions {
    height: 48px;
    justify-content: center;
    mat-icon {
        color: #fff;
    }
    #volume {
        mat-slider {
            padding: 0;
            width: 52px;
            height: 25px;
        }
    }
    #video-time {
        margin: 0 10px;
        span {
            color: #ddd;

            &:not(:last-child)::after {
                content: ' / '
            }
        }
    }
}

::ng-deep #video-actions {
    .mat-slider-wrapper {
        top: 12px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .mat-slider-thumb {
        width: 20px;
        height: 20px;
        transform: scale(0.6);
    }
}