<div id="video-actions" fxLayout="row" fxLayoutAlign="center center">
  <button mat-icon-button (click)="toggleVideoClick()" [ngSwitch]="playing">
    <mat-icon *ngSwitchCase="false">play_arrow</mat-icon>
    <mat-icon *ngSwitchCase="true">pause</mat-icon>
  </button>
  <div fxLayout="row" id="volume" fxLayoutAlign="center center">
    <button mat-icon-button (click)="mute()" [ngSwitch]="true">
      <mat-icon *ngSwitchCase="volume === 0">volume_off</mat-icon>
      <mat-icon *ngSwitchCase="volume > 0 && volume < 0.2">volume_mute</mat-icon>
      <mat-icon *ngSwitchCase="volume >= 0.2 && volume < 0.6">volume_down</mat-icon>
      <mat-icon *ngSwitchCase="volume >= 0.6">volume_up</mat-icon>
    </button>
    <mat-slider min="0" max="1" step="0.05" [value]="volume" (input)="volumeSliderChange($event)"></mat-slider>
  </div>
  <div id="video-time" *ngIf="duration">
    <span>{{secondsToTime(currentTime)}}</span>
    <span>{{secondsToTime(duration)}}</span>
  </div>
  <span fxFlex></span>
  <button mat-icon-button [matMenuTriggerFor]="videoMenu" (menuOpened)="onMenuToggle(true)" (menuClosed)="onMenuToggle(false)">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button *ngIf="!fullscreen" [ngSwitch]="isWideScreen" (click)="onToggleWideScreen()">
    <mat-icon *ngSwitchCase="false">crop_landscape</mat-icon>
    <mat-icon *ngSwitchCase="true">crop_3_2</mat-icon>
  </button>
  <button mat-icon-button (click)="toggleFullscreenClick()" [ngSwitch]="fullscreen">
    <mat-icon *ngSwitchCase="false">fullscreen</mat-icon>
    <mat-icon *ngSwitchCase="true">fullscreen_exit</mat-icon>
  </button>
</div>

<mat-menu #videoMenu="matMenu" yPosition="above" xPosition="before" class="menu video-menu">
  <button mat-menu-item (click)="onCaptureImage()">
    <mat-icon>image</mat-icon>
    <span>Capture image</span>
  </button>
  <button mat-menu-item (click)="onDownloadVideo()">
    <mat-icon>get_app</mat-icon>
    <span>Download video</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="speedMenu">
    <mat-icon>slow_motion_video</mat-icon>
    <span>Speed</span>
  </button>
</mat-menu>
<mat-menu #speedMenu="matMenu" yPosition="above" xPosition="before" class="menu speed-menu">
  <button mat-menu-item *ngFor="let speed of availableSpeed" (click)="onSpeedChange(speed)">
    <mat-icon>{{playbackRate === speed ? 'check' : ''}}</mat-icon>
    <span>{{speed === 1 ? 'Normal' : speed}}</span>
  </button>
  <!-- <button mat-menu-item>
    <mat-icon></mat-icon>
    <span>0.5</span>
  </button>
  <button mat-menu-item>
    <mat-icon></mat-icon>
    <span>0.75</span>
  </button>
  <button mat-menu-item>
    <mat-icon>check</mat-icon>
    <span>Normal</span>
  </button>
  <button mat-menu-item>
    <mat-icon></mat-icon>
    <span>1.25</span>
  </button>
  <button mat-menu-item>
    <mat-icon></mat-icon>
    <span>1.5</span>
  </button>
  <button mat-menu-item>
    <mat-icon></mat-icon>
    <span>2</span>
  </button> -->
</mat-menu>