#video-actions {
    height: 48px;
    justify-content: center;
    mat-icon {
        color: #fff;
    }
    #volume {
        mat-slider {
            padding: 0;
            width: 52px;
            height: 25px;
            opacity: 0;
            visibility: hidden;
            width: 0;
            transition: all 250ms ease-in;

        }
        &:hover {
            mat-slider {
                visibility: visible;
                opacity: 1;
                width: 100px;
            }
        }
    }
    #video-time {
        margin: 0 10px;
        span {
            color: #ddd;
            &:not(:last-child)::after {
                content: ' / '
            }
        }
    }
}

::ng-deep #video-actions {
    .mat-slider-horizontal {
        min-width: 0;
    }
    .mat-slider-wrapper {
        top: 12px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .mat-slider-thumb {
        width: 20px;
        height: 20px;
        transform: scale(0.6);
    }
}