<div id="video-section-item">
  <div id="section" *ngFor="let section of sections">
    <div fxLayout="row"  fxLayoutAlign="start center" fxLayoutGap="12px">
      <bs-avatar *ngIf="section.avatarUrl" [source]="section.avatarUrl" [alt]="section.title" size="small"></bs-avatar>
      <h3 id="title">{{section.title}}</h3>
      <span fxFlex></span>
      <button fxHide.lt-md mat-raised-button id="subscribe-button">
          {{'SHARED.VIDEO_SECTION_LIST.VIDEO_SECTION_ITEM.SUBSCRIBE' | translate}}
        <span id="subscribe-count">5M</span>
      </button>
      <button mat-icon-button *ngIf="section.isDismissable">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    <bs-video-list [videos]="section.videos" mode="horizontal"></bs-video-list>
  </div>
</div>