<div id="cards-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Number of channels</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{channelsAmount}}
      </p>
    </mat-card-content>
  </mat-card>
  
  <mat-card>
    <mat-card-header>
      <mat-card-title>Number of Videos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{videosAmount}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Number of Comments</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{commentsAmount}}
      </p>
    </mat-card-content>
  </mat-card>
</div>

