#tags-container {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 14px;
}

button#show-more {
    color: rgba(0,0,0,0.54);
    margin-top: 8px;
    padding-bottom: 6px;
}

mat-spinner {
    margin: 20px 15px;
}