@import '~@angular/material/theming';
@import 'src/theme.scss';

#progress-slider {
    width: 100%;
    height: 10px;
    #buffer {
        background-color: rgba(255,255,255,0.8);
        height: 5px;
        position: absolute;
        left: 8px;
        right: 8px;
        width: 60%;
        max-width: calc(100% - 16px);
    }
    mat-slider {
        position: absolute;
        width: 100%;
        height: 5px;
        padding-bottom: 5px;
        .mat-slider-thumb {
            display: none;
        }
    }
}

::ng-deep #progress-slider {
    mat-slider {
        .mat-slider-track-wrapper,
        .mat-slider-track-fill,
        .mat-slider-track-background,
        .mat-slider-ticks-container,
        .mat-slider-ticks,
        .mat-slider-horizontal,
        .mat-slider-wrapper {
            height: 5px;
        }
        .mat-slider-wrapper {
            top: 0;
        }
        .mat-slider-thumb {
            opacity: 0;
            visibility: hidden;
            transition: all 150ms ease-in;
        }
        &:hover {
            .mat-slider-thumb {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}